{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/view_recipe.css') }}">
{% endblock %}

{% block body %}
    <h1>Lista de Recetas</h1>
    
    <div class="create-button">
        <a href="{{ path('receta_new') }}">Crear nueva receta</a>
    </div>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for receta in recetas %}
                <tr>
                    <td>{{ receta.nombre }}</td>
                    <td>{{ receta.descripcion }}</td>
                    <td>
                        <a href="{{ path('receta_show', {'id': receta.id}) }}" class="action-button view-button">Ver</a>
                        <a href="{{ path('receta_edit', {'id': receta.id}) }}" class="action-button edit-button">Editar</a>
                        <form method="post" action="{{ path('receta_delete', {'id': receta.id}) }}" style="display: inline;" onsubmit="return confirm('¿Estás seguro?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ receta.id) }}">
                            <button type="submit" class="action-button delete-button">Eliminar</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
