{% extends 'base.html.twig' %}

{% block title %}P치gina de Inicio{% endblock %}
{% block stylesheets %}<link href="{{ asset('styles/home_page.css') }}" rel="stylesheet">{% endblock %}
{% block body %}

    <div style="background-color: #5bc0de; padding: 20px; color: white;">
        <h1>Bienvenido a la P치gina de Inicio</h1>
        <ul style="list-style-type: none; padding: 0;">
            <li><a href="{{ path('app_view_stock') }}" style="color: white;">Visualizar Stock</a></li>
            <li><a href="{{ path('app_view_catalog') }}" style="color: white;">Visualizar Cat치logo</a></li>
            <li><a href="{{ path('app_view_recipe') }}" style="color: white;">Visualizar Receta</a></li>
            <li><a href="{{ path('app_logout') }}" style="color: white;">Cerrar Sesi칩n</a></li>
            <li><a href="{{ path('maquinaria_new') }}" style="color: white;">Agregar Maquinaria</a></li>
            <li><a href="{{ path('repuestos_new') }}" style="color: white;">Agregar Repuestos</a></li>
        </ul>
    </div>
{% endblock %}