{% extends 'base.html.twig' %}

{% block title %}P치gina de Inicio{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('styles/home_page.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <header class="home-header">
        <h1>Bienvenido a la P치gina de Inicio</h1>
    </header>
    <div class="home-container">
        <div class="content-wrapper">
            <nav class="home-nav">
                <ul>
                    <li><a href="{{ path('app_view_stock') }}">Visualizar Stock</a></li>
                    <li><a href="{{ path('app_view_catalog') }}">Visualizar Cat치logo</a></li>
                    <li><a href="{{ path('app_view_recipe') }}">Visualizar Receta</a></li>
                    <li><a href="{{ path('maquinaria_new') }}">Agregar Maquinaria</a></li>
                    <li><a href="{{ path('repuestos_index') }}">Agregar Repuestos</a></li>
                </ul>
            </nav>
        </div>
        <div class="logout-container">
            <a href="{{ path('app_logout') }}" class="logout-btn">Cerrar Sesi칩n</a>
        </div>
    </div>
{% endblock %}